body {
    color: white;
    font-family: Open Sans;
}

#navigasi-bar {
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Open Sans;
}

#navigasi-bar a {
    color: white;
}


#home {
    background-image: url(./img/home.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;

}

#home a:hover {
    color: white;
}

#the-game {
    background-image: url(./img/the-game.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;
}

/* .carousel-control-prev {
    margin-left: -10%;
}

.carousel-control-next {
    margin-right: -10%;
} */

/* .button-circle {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100%;
} */

/* 
#the-game .carousel-indicators button:hover {
    background-color: white; */

#features {
    background-image: url(./img/features.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;
}


#system-requiretment {
    background-image: url(./img/system-requiretment.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;

}

#system-requiretment table {
    table-layout: fixed;
}

#top-score {
    background-color: rgb(28, 26, 26);
    background-image: url(./img/top-score.png);
    background-size: cover;
    min-height: 100vh;
    background-position: top;
}

#top-score .card-title .rounded-circle {
    width: 63.7px;
    height: 63.49px;
    filter: drop-shadow(7px 3px 0px orange);
}

#newsletter {
    background-color: black;
    background-size: cover;
    min-height: 100vh;
}

footer {
    position: absolute;
    background-color: black;
    right: 0px;
    left: 0px;

}

footer p,
a {
    font-size: small;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}